<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Primero Projeto</title>
</head>
<body>
     <h1>Produto</h1>
     
     <table>
        <thead>
            <tr>
               <th>Produto</th> 
               <th>Preço</th> 
               <th>Estoque</th>              
            </tr>
        </thead>
        <tbody>
            <tr>
               <td>{{produto.nome}}</tb>
               <td>{{produto.preco}}</tb>
               <td>{{produto.estoque}}</tb>
            </tr>    
        </tbody>
     </table>
     <br>
     <a href="{% url 'index' %}">Voltar</a>
</body>
</html>